.font-slab,h3,#main-nav ul li a,#main-nav ul .button-style.signup a span,#main-bg-wrapper .headlines .invitation .sign-up-button,.home .vision p,section h2,section.posts dd h3,section.posts h4,#signup-wrapper #signup-btn,.more #container dt,.faq #container dt,.policy #container dt,.press #container dt,.careers #container dt,.more h1,div.careers .resumator-job-title,.faq h1,.policy #container h1,.policy #container h2,.policy #container h3,.policy #container table th.left,.blog .right-column .blog-rss-icon,.category_index .right-column .blog-rss-icon,.blog .save-your-spot h3,.category_index .save-your-spot h3,.layout-post .related-posts h4,.layout-post .post-nav .prev_post,.layout-post .post-nav .next_post,.layout-alert .alertbox .browser-select p,.layout-alert .alertbox .browser-select span {
font-family:Arial, Helvetica, sans-serif;
}

.font-serif,p,.home .vision #vision-content .questions p,.home #press-container article div a,section h3,.more #container p,.faq #container p,.policy #container p,.press #container p,.careers #container p,.more #container ol,.more #container ul,.faq #container ol,.faq #container ul,.policy #container ol,.policy #container ul,.press #container ol,.press #container ul,.careers #container ol,.careers #container ul,div.careers div.the-team span,div.careers .open-positions .job,div.careers .resumator-job-info,div.careers .resumator-job-link,.policy #container table td,.blog .right-column ul li,.category_index .right-column ul li,.blog .save-your-spot p,.category_index .save-your-spot p,.layout-post .left-column ul li,.layout-post .left-column ol li,.layout-post .related-posts div,.layout-alert .alertbox div.why {
font-family:"adelle-1", "adelle-2", Georgia, "Times New Roman", serif;
}

.font-sans-serif,body,input[type=text],.home #press-container article time,section.posts time,.policy #container table,.blog-post-snippet .blog-author,.blog-post-snippet .blog-date,footer#footer dd,footer#footer #copyright {
font-family:Helvetica, "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
}

.font-typewriter,#signup-wrapper p,#signup-wrapper input[type=text],#signup-wrapper input[type=email] {
font-family:"American Typewriter", Courier;
}

.font-geometric,#main-nav ul li.signin a,#main-bg-wrapper .headlines h1,#main-bg-wrapper .headlines h2,#main-bg-wrapper .headlines .invitation h3,.home #name-change,.home .vision h1,.home .vision h2,.home .vision #vision-content .questions h2,.home article h3 a,#meet-tabs h3,#meet-tabs div.tab,#lozenge,div.meet h1,section .section-num,.layout-default #main-bg h2.interior-header,div.careers .open-positions h1,.press h3,.blog #blog-search-results-column h1.results-title,.category_index #blog-search-results-column h1.results-title,.blog-post-snippet .blog-title,.layout-post .left-column h1,.layout-post .left-column h2,.layout-post .left-column h3,.layout-alert .alertbox h1,footer#footer dt,.apply-btn {
font-family:"proxima-nova-1", "proxima-nova-2", Helvetica, Arial, sans-serif;
}

.wf-loading .font-slab,.wf-loading h3,.wf-loading #main-nav ul li a,#main-nav ul li .wf-loading a,.wf-loading #main-nav ul .button-style.signup a span,#main-nav ul .button-style.signup a .wf-loading span,.wf-loading #main-bg-wrapper .headlines .invitation .sign-up-button,#main-bg-wrapper .headlines .invitation .wf-loading .sign-up-button,.wf-loading .home .vision p,.home .vision .wf-loading p,.wf-loading section h2,section .wf-loading h2,.wf-loading section.posts dd h3,section.posts dd .wf-loading h3,.wf-loading section.posts h4,section.posts .wf-loading h4,.wf-loading #signup-wrapper #signup-btn,#signup-wrapper .wf-loading #signup-btn,.wf-loading .more #container dt,.more #container .wf-loading dt,.wf-loading .faq #container dt,.faq #container .wf-loading dt,.wf-loading .policy #container dt,.policy #container .wf-loading dt,.wf-loading .press #container dt,.press #container .wf-loading dt,.wf-loading .careers #container dt,.careers #container .wf-loading dt,.wf-loading .more h1,.more .wf-loading h1,.wf-loading div.careers .resumator-job-title,div.careers .wf-loading .resumator-job-title,.wf-loading .faq h1,.faq .wf-loading h1,.wf-loading .policy #container h1,.policy #container .wf-loading h1,.wf-loading .policy #container h2,.policy #container .wf-loading h2,.wf-loading .policy #container h3,.policy #container .wf-loading h3,.wf-loading .policy #container table th.left,.policy #container table .wf-loading th.left,.wf-loading .blog .right-column .blog-rss-icon,.blog .right-column .wf-loading .blog-rss-icon,.wf-loading .category_index .right-column .blog-rss-icon,.category_index .right-column .wf-loading .blog-rss-icon,.wf-loading .blog .save-your-spot h3,.blog .save-your-spot .wf-loading h3,.wf-loading .category_index .save-your-spot h3,.category_index .save-your-spot .wf-loading h3,.wf-loading .layout-post .related-posts h4,.layout-post .related-posts .wf-loading h4,.wf-loading .layout-post .post-nav .prev_post,.layout-post .post-nav .wf-loading .prev_post,.wf-loading .layout-post .post-nav .next_post,.layout-post .post-nav .wf-loading .next_post,.wf-loading .layout-alert .alertbox .browser-select p,.layout-alert .alertbox .browser-select .wf-loading p,.wf-loading .layout-alert .alertbox .browser-select span,.layout-alert .alertbox .browser-select .wf-loading span,.wf-loading .font-serif,.wf-loading p,.wf-loading .home .vision #vision-content .questions p,.home .vision #vision-content .questions .wf-loading p,.wf-loading .home #press-container article div a,.home #press-container article div .wf-loading a,.wf-loading section h3,section .wf-loading h3,.wf-loading .more #container p,.more #container .wf-loading p,.wf-loading .faq #container p,.faq #container .wf-loading p,.wf-loading .policy #container p,.policy #container .wf-loading p,.wf-loading .press #container p,.press #container .wf-loading p,.wf-loading .careers #container p,.careers #container .wf-loading p,.wf-loading .more #container ol,.more #container .wf-loading ol,.wf-loading .more #container ul,.more #container .wf-loading ul,.wf-loading .faq #container ol,.faq #container .wf-loading ol,.wf-loading .faq #container ul,.faq #container .wf-loading ul,.wf-loading .policy #container ol,.policy #container .wf-loading ol,.wf-loading .policy #container ul,.policy #container .wf-loading ul,.wf-loading .press #container ol,.press #container .wf-loading ol,.wf-loading .press #container ul,.press #container .wf-loading ul,.wf-loading .careers #container ol,.careers #container .wf-loading ol,.wf-loading .careers #container ul,.careers #container .wf-loading ul,.wf-loading div.careers div.the-team span,div.careers div.the-team .wf-loading span,.wf-loading div.careers .open-positions .job,div.careers .open-positions .wf-loading .job,.wf-loading div.careers .resumator-job-info,div.careers .wf-loading .resumator-job-info,.wf-loading div.careers .resumator-job-link,div.careers .wf-loading .resumator-job-link,.wf-loading .policy #container table td,.policy #container table .wf-loading td,.wf-loading .blog .right-column ul li,.blog .right-column ul .wf-loading li,.wf-loading .category_index .right-column ul li,.category_index .right-column ul .wf-loading li,.wf-loading .blog .save-your-spot p,.blog .save-your-spot .wf-loading p,.wf-loading .category_index .save-your-spot p,.category_index .save-your-spot .wf-loading p,.wf-loading .layout-post .left-column ul li,.layout-post .left-column ul .wf-loading li,.wf-loading .layout-post .left-column ol li,.layout-post .left-column ol .wf-loading li,.wf-loading .layout-post .related-posts div,.layout-post .related-posts .wf-loading div,.wf-loading .layout-alert .alertbox div.why,.layout-alert .alertbox .wf-loading div.why,.wf-loading .font-geometric,.wf-loading #main-nav ul li.signin a,#main-nav ul li.signin .wf-loading a,.wf-loading #main-bg-wrapper .headlines h1,#main-bg-wrapper .headlines .wf-loading h1,.wf-loading #main-bg-wrapper .headlines h2,#main-bg-wrapper .headlines .wf-loading h2,.wf-loading #main-bg-wrapper .headlines .invitation h3,#main-bg-wrapper .headlines .invitation .wf-loading h3,.wf-loading .home #name-change,.home .wf-loading #name-change,.wf-loading .home .vision h1,.home .vision .wf-loading h1,.wf-loading .home .vision h2,.home .vision .wf-loading h2,.wf-loading .home .vision #vision-content .questions h2,.home .vision #vision-content .questions .wf-loading h2,.wf-loading .home article h3 a,.home article h3 .wf-loading a,.wf-loading #meet-tabs h3,#meet-tabs .wf-loading h3,.wf-loading #meet-tabs div.tab,#meet-tabs .wf-loading div.tab,.wf-loading #lozenge,.wf-loading div.meet h1,div.meet .wf-loading h1,.wf-loading section .section-num,section .wf-loading .section-num,.wf-loading .layout-default #main-bg h2.interior-header,.layout-default #main-bg .wf-loading h2.interior-header,.wf-loading div.careers .open-positions h1,div.careers .open-positions .wf-loading h1,.wf-loading .press h3,.press .wf-loading h3,.wf-loading .blog #blog-search-results-column h1.results-title,.blog #blog-search-results-column .wf-loading h1.results-title,.wf-loading .category_index #blog-search-results-column h1.results-title,.category_index #blog-search-results-column .wf-loading h1.results-title,.wf-loading .blog-post-snippet .blog-title,.blog-post-snippet .wf-loading .blog-title,.wf-loading .layout-post .left-column h1,.layout-post .left-column .wf-loading h1,.wf-loading .layout-post .left-column h2,.layout-post .left-column .wf-loading h2,.wf-loading .layout-post .left-column h3,.layout-post .left-column .wf-loading h3,.wf-loading .layout-alert .alertbox h1,.layout-alert .alertbox .wf-loading h1,.wf-loading footer#footer dt,footer#footer .wf-loading dt,.wf-loading .apply-btn {
visibility:hidden;
}

h1,h2,h3,h4 {
text-rendering:optimizeLegibility;
}

html {
-webkit-font-smoothing:antialiased;
}

.engraved,#main-nav ul .button-style.signup a span,#main-bg-wrapper .headlines h2,#main-bg-wrapper .headlines .invitation h3,#main-bg-wrapper .headlines .invitation .sign-up-button,#signup-wrapper #signup-btn,footer#footer {
text-shadow:0 -1px rgba(0,0,0,0.5);
}

.highlight-char {
color:#16b2f3;
text-shadow:0 3px 1px #002587,0 2px 2px rgba(0,0,0,0.4);
}

a:focus,input:focus,textarea:focus {
outline:none !important;
}

a {
color:#002587;
text-decoration:none;
}

body {
margin:0;
}

.center {
text-align:center;
}

input[type=text] {
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-background-clip:padding-box;
border-radius:5px;
-webkit-box-shadow:0 1px 1px #eee;
-moz-box-shadow:0 1px 1px #eee;
box-shadow:0 1px 1px #eee;
font-size:14px;
border:1px solid #e3e3e3;
padding:10px;
}

button {
cursor:pointer;
}

#main-nav {
-webkit-box-shadow:0 2px 15px rgba(0,0,0,0.25);
-moz-box-shadow:0 2px 15px rgba(0,0,0,0.25);
box-shadow:0 2px 15px rgba(0,0,0,0.25);
border-bottom:1px solid rgba(0,0,0,0.2);
display:block;
position:fixed;
top:0;
float:left;
width:100%;
z-index:2000;
height:60px;
background-color:#FFF;
background:url("../images/corejetthinskin.jpg");
}

#main-nav a#corejet-logo {
background:url("../images/cjlogosmall.png") no-repeat;
height:68px;
width:160px;
display:inline-block;
float:left;
margin-top:1px;
margin-left:-13px;
text-indent:-1000px;
-webkit-transition:opacity 0.1s ease-in-out;
padding:5px 10px;
}

#main-nav #nav-arrow {
-webkit-transition:left opacity;
-moz-transition:left opacity;
-o-transition:left opacity;
transition:left opacity;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
-webkit-transition-duration:0.3s;
-moz-transition-duration:0.3s;
-o-transition-duration:0.3s;
transition-duration:0.3s;
width:22px;
height:14px;
position:absolute;
top:60px;
text-indent:-10000px;
background:url("sprites.png") no-repeat -577px -52px;
z-index: -1;
}

#main-nav ul {
width:600px;
float:right;
margin:0;
}

#main-nav ul li {
vertical-align:middle;
display:inline;
color:#000;
list-style-type:none;
margin:0 2px;
}

#main-nav ul li a {
text-shadow:1px 2px rgba(0, 0, 0, 0.3);
text-decoration:none;
white-space:nowrap;
line-height:60px;
font-size:20px;
color: #16b2f3;
font-weight: 600;
padding:20px 10px;
}

#main-nav ul li a span {
-webkit-transition:"background, color";
-moz-transition:"background, color";
-o-transition:"background, color";
transition:"background, color";
-webkit-transition-duration:0.1s;
-moz-transition-duration:0.1s;
-o-transition-duration:0.1s;
transition-duration:0.1s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
}

#nav-arrow.hidden {
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
opacity:0;
}

#nav-wrapper {
position:relative;
}

.main-bg,.home #main-bg,.layout-default #main-bg {
background-color: #008700;
top:60px;
z-index:0;
position:fixed;
width:100%;
}

.main-wrapper,.home #main-wrapper,.layout-default #main-wrapper {
position:absolute;
width:100%;
z-index:10;
border-bottom:1px solid rgba(0,0,0,0.8);
background-color:#FFF;
padding-top:40px;
}

#sil-wrapper {
position:absolute;
width:100%;
z-index:10;
background: url(../images/wall.png) repeat-x;
background-color:none;
top: 410px;
height: 100px;
padding: 0px 0 0;
}

#main-bg-wrapper {
position:fixed;
width:100%;
}

#main-bg-wrapper .headlines h1 {
margin-top:64px;
font-size:42px;
color:#002587;
}

#main-bg-wrapper .headlines h2 {
margin-top:20px;
margin-bottom:15px;
font-size:28px;
color:#008700;
}

#main-bg-wrapper #corejetlogo {
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-background-clip:padding-box;
border-radius:5px;
margin-top:10px;
}

.courline {
background: url(../images/horizontal-line-courgette.jpg);
height: 35px;
margin: 20px 0px;
}

.home a#corejet-logo {
opacity:0.5px;
}

.home #diagonal {
position:absolute;
z-index:0;
top:0;
left:0;
}

.home #main-wrapper {
top: 510px;
padding:40px 0 0;
}

.home #main-bg {
height:450px;
cursor:default !important;
}

.home article h3 a {
font-weight:700;
}

div.meet {
position:absolute;
opacity:0;
text-align:center;
}

div.meet .screenshot {
-webkit-box-shadow:0 8px 25px rgba(0,0,0,0.1);
-moz-box-shadow:0 8px 25px rgba(0,0,0,0.1);
box-shadow:0 8px 25px rgba(0,0,0,0.1);
-moz-border-radius:8px;
-webkit-border-radius:8px;
-webkit-background-clip:padding-box;
border-radius:8px;
border:1px solid #ccc;
overflow:hidden;
}

div.meet h1 {
font-size:20px;
display:block;
margin-bottom:8px;
color:#002587;
}

div.meet .meet-text {
margin-left:35px;
margin-top:35px;
}

div.meet .meet-text div {
border-right:1px solid #e5e5e5;
margin-right:-1px;
padding-right:10px;
}

div.meet .meet-text div:last-child {
border-right:none;
}

section hgroup {
margin-bottom:35px;
}

section h2 {
display:inline-block;
font-size:28px;
font-weight:500;
color:#008700;
line-height:34px;
margin-right:15px;
}

section h3 {
display:inline-block;
color:#666;
font-size:18px;
font-weight:400;
font-style:italic;
margin-bottom: 10px;
}

section p {
color:#444;
font-weight:400;
line-height:22px;
font-size:15px;
margin-bottom:12px;
}

section p:last-child {
margin-bottom:25px;
}

ol{
color:#450;
font-weight:400;
line-height:22px;
font-size:14px;
margin-bottom:12px;
margin-left: 35px;
font-weight: 700;
}

ul{
color:#008700;
font-weight:400;
line-height:22px;
font-size:14px;
margin-bottom:12px;
margin-left: 35px;
font-weight: 700;
}

footer#footer {
display: block;
background:0;
-webkit-box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
-moz-box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
background:url("../images/corejetthinskin.jpg");
margin-top:60px;
width:100%;
padding:0px;
}

footer#footer dt {
font-size:16px;
margin-bottom:20px;
color:#e3e3e3;
font-weight:700;
}

footer#footer dd {
font-size:14px;
line-height:23px;
color:#e3e3e3;
}

footer#footer dd span.icon {
font-size:20px;
width:20px;
line-height:8px !important;
text-align:center;
display:inline-block;
}

footer#footer dd a {
color:#e3e3e3;
}

footer#footer #copyright {
color:#e3e3e3;
font-size:16px;
margin:20px 0;
font-weight:700;
}

#rss {
-moz-border-radius:10px;
-webkit-border-radius:10px;
-webkit-background-clip:padding-box;
border-radius:10px;
border:1px solid #002587;
font-size:11px;
font-weight:700;
color:#bf3604;
position:absolute;
right:0;
top:12px;
opacity:0.6px;
-webkit-transition:opacity 0.2s ease-in;
padding:2px 7px;
}

.apply-btn {
background-color:#002587;
background:0;
-pie-background:linear-gradient(#002587, #002587);
-moz-border-radius:25px;
-webkit-border-radius:25px;
-webkit-background-clip:padding-box;
border-radius:25px;
float:left;
border-top:1px solid #002587;
line-height:2.2em;
display:block;
color:#FFF;
font-size:18px;
font-weight:700;
margin:10px 0;
padding:6px 25px;
}

.highlight {
-moz-border-radius:7px;
-webkit-border-radius:7px;
-webkit-background-clip:padding-box;
border-radius:7px;
padding:10px;
}

p,.layout-alert .alertbox .browser-select span {
color:#4d4d4d;
}

#main-nav a#corejet-logo.showing,#rss:hover {
opacity:1px;
}

#main-nav ul li a:visited,.blog-post-snippet .blog-date {
color:#002587;
}

#main-nav ul li a:hover,#main-nav ul li.signin a:hover,.blog .right-column .blog-categories.cat-simple li.simple a,.category_index .right-column .blog-categories.cat-simple li.simple a,.blog .right-column .blog-categories.cat-economics li.economics a,.category_index .right-column .blog-categories.cat-economics li.economics a,.blog .right-column .blog-categories.cat-banking li.banking a,.category_index .right-column .blog-categories.cat-banking li.banking a,.blog .right-column .blog-categories.cat-saving li.saving a,.category_index .right-column .blog-categories.cat-saving li.saving a {
color:#16b2f3;
}
